body {
    font-family: $site-font;
    font-style: normal;
    color: $black;
}

.container {
    width: 1140px;
    margin: 0 auto;

    @include desktop {
      width: 96%;
    }

    @include mobil {
    }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}