    $black: #222222;
    $rose: #F1E4E6;
    $dark-rose: #F16D7F;
    $white: #FFFFFF;
    $grey: #9F9F9F;
    $grey-light: #F8F8F8;
    $grey-dark: #5D5D5D;
    $grey-sub: #E1E1E1;
    $site-font: 'Lato',
    sans-serif;
    $size-xs: 13px;
    $size-s: 14px;
    $size-m: 16px;
    $size-l: 20px;
    $size-xl: 24px;
    $size-2xl: 30px;
    $size-3xl: 32px;
    $size-4xl: 48px;
    $weight-xs: 300;
    $weight-s: 400;
    $weight-m: 700;
    $weight-l: 900;
    $line-height-xs: 16px;
    $line-height-s: 17px;
    $line-height-m: 19px;
    $line-height-l: 24px;
    $line-height-xl: 29px;
    $line-height-2xl: 36px;
    $line-height-3xl: 38px;
    $line-height-4xl: 58px;