.cart {

    &__promo {
        background-color: $rose;
        min-height: 148px;

        &-title {
            @include font ($size-xl, $weight-s, 148px, $dark-rose, uppercase);
        }
    }

    &__wrap {
        @include flex (space-between, unset);
        padding: 96px 0 128px 0;
        @include desktop {
            flex-direction: column;
            row-gap: 65px;
            padding: 60px 0 147px 0;
        }
        @include mobil {
            padding: 40px 0 96px 0;
        }
    }

    &__box {
        width: 57%;
        @include desktop {
            width: 100%;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }

    &__item {
        @include flex (flex-start, 32px);
        box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
        position: relative;

        &-remove {
            @include absolute (28px, 18px, 18px);
            right: 22px;
            cursor: pointer;
        }
    }

    &__desc {

        & ul {
            display: flex;
            flex-direction: column;
            row-gap: 6px;
            padding: 42px 0;
            @include desktop {
                padding: 35px 0;
                row-gap: 5px;
            }
            @include tablet {
                padding: 15px 0;
                row-gap: 4px;
            }
            @include mobil {
                padding: 5px 0;
                row-gap: 3px;
            }


            & li {
                @include font (22px, $weight-s, 26px, $grey-dark);
                @include tablet {
                    @include font (18px, $weight-s, 22px, $grey-dark);
                }
                @include mobil {
                    @include font (16px, $weight-s, 19px, $grey-dark);
                }

                & input {
                    @include font (20px, $weight-s, 24px, $grey-dark);
                    margin-left: 25px;
                    width: 44px;
                    height: 25px;
                    border: 1px solid $grey-sub;
                    text-align: center;
                    @include tablet {
                        @include font (18px, $weight-s, 22px, $grey-dark);
                        height: 20px;
                        width: 35px;
                    }
                    @include mobil {
                        @include font (16px, $weight-s, 19px, $grey-dark);
                        height: 16px;
                        width: 27px;
                    }
                }
            }
        }
    }

    &__img {
        width: 262px;
        height: 306px;
        @include tablet {
            width: 30.5%;
            height: 100%;
        }
        @include mobil {
            width: 35%;
        }
    }

    &__title {
        @include font ($size-xl, $weight-s, $line-height-xl, $black, uppercase);
        margin-top: 22px;
        @include tablet {
            margin-top: 10px;
            @include font ($size-l, $weight-s, $line-height-l, $black, uppercase);
        }
        @include mobil {
            margin-top: 3px;
            @include font ($size-m, $weight-s, $line-height-m, $black, uppercase);
        }
    }

    &__price {
        color: $dark-rose;
    }

    &__shopping {

        margin-top: 72px;
        @include flex (space-between, 185px);
        align-items: center;
        @include desktop {
            justify-content: center;
            gap: 50px;
        }

        & button {
            @include font ($size-s, $weight-xs, $line-height-s, $black, uppercase);
            width: 234px;
            height: 49px;
            border: 1px solid $grey-dark;
            background-color: transparent;
            font-family: $site-font;
            cursor: pointer;
        }

        & .slill__buy {
            @include font ($size-s, $weight-xs, $line-height-s, $black, uppercase);
            width: 234px;
            height: 49px;
            border: 1px solid $grey-dark;
            box-sizing: border-box;

            & a {
                line-height: 49px;
                text-align: center;
                display: block;
                color: $black;
            }
        }
    }

    &__order {
        display: flex;
        flex-direction: column;
        row-gap: 58px;
        width: 31.5%;
        @include desktop {
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
        }
        @include mobil {
            flex-direction: column;
        }
    }

    &__form-title {
        @include font ($size-m, $weight-xs, $line-height-m, $black, uppercase);
        margin-bottom: 20px;
    }

    &__form {
        @include desktop {
            width: 49%;
        }
        @include mobil {
            width: 100%;
        }
    }

    &__form-box {

        display: flex;
        flex-direction: column;
        gap: 20px;

        & input {
            @include font ($size-xs, $weight-xs, $line-height-xs);
            width: 100%;
            height: 45px;
            box-sizing: border-box;
            font-family: $site-font;
            padding: 0 17px;
            outline-color: $dark-rose;
            border: 1px solid $grey-dark
        }

        & button {
            @include font (11px, $weight-xs, 13px, $black, uppercase);
            width: 100px;
            height: 35px;
            background-color: transparent;
            border: 1px solid $grey-dark;
            cursor: pointer;
        }
    }
}

.total {
    background-color: $grey-sub;
    padding: 39px 44px 42px 43px;
    display: flex;
    flex-direction: column;
    text-align: end;
    @include desktop {
        width: 49%;
        box-sizing: border-box;
    }
    @include mobil {
        width: 100%;
    }

    &__sub-text {
        @include font (11px, $weight-xs, 13px, $black, uppercase);
        margin-bottom: 12px;
    }

    &__sub-price {
        padding-left: 30px;
    }

    &__grand-text {
        @include font ($size-m, $weight-xs, $line-height-m, $black, uppercase);
        padding-bottom: 21px;
        margin-bottom: 17px;
        border-bottom: 1px solid $grey-dark;
    }

    &__grand-price {
        @include font ($size-m, $weight-m, $line-height-m, $dark-rose, uppercase);
        padding-left: 30px;
    }

    & button {
        height: 50px;
        @include font ($size-m, $weight-xs, $line-height-m, $white, uppercase);
        background-color: $dark-rose;
        font-family: $site-font;
        border: none;
        cursor: pointer;
    }
}