.footer {
    background-color: $black;

    &__wrap {
        @include flex (space-between, unset);
        align-items: center;
        min-height: 79px;
        @include mobil {
            flex-direction: column-reverse;
        }
    }
}

.copyright {
    @include font ($size-m, $weight-s, $line-height-m, $white);
    @include desktop {
        padding-left: 14px;
    }
    @include mobil {
        padding-left: 0;
        margin-bottom: 9px;
    }
}

.social-icon {

    &__list {
        display: flex;
        column-gap: 7px;
        @include desktop {
            padding-right: 14px;
        }
        @include mobil {
            padding-right: 0;
            margin: 43px 0 40px 0;
        }
    }

    &__link {
        width: 32px;
        height: 32px;
        background-color: $white;

        &:hover {
            background-color: $dark-rose;

            & svg {
                fill: $white;
            }
        }

        & a {
            width: 100%;
            height: 100%;
            cursor: pointer;
            display: flex;
        }

        & svg {
            margin: auto;
        }
    }
}