.header {
    background-color: $black;
    min-height: 75px;

    &__list {
        @include flex (space-between, unset);
        @include desktop {
            padding: 0 14px;
        }
        @include mobil {
            padding: 0 7px;
        }
    }

    &__item {
        display: flex;
        align-items: flex-end;
        column-gap: 35px;
        margin-top: 17px;
        @include tablet {
            column-gap: 41px;
        }

        & img {
            height: 28px;
            -webkit-transition: -webkit-transform .6s ease-in-out;
            transition: transform .6s ease-in-out;

            &:hover{
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        & button {
            background-color: transparent;
            border: none;
            cursor: pointer;

            &:focus {
                outline: none;
            }
        }
    }

    &__item-logo img {
        height: 38px;
    }

    &__reg {
        @include mobil {
            display: none;
        }
    }

    &__cart{
        @include mobil {
            display: none;
        }
    }
}